name: CI/CD Pipeline to S3

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'  # Only trigger when website files change

permissions:
  id-token: write
  contents: read

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::837832655786:role/GithubOICDToS3
          aws-region: ap-southeast-1

      - name: Verify AWS credentials
        run: aws sts get-caller-identity

      - name: Sync website to S3
        run: aws s3 sync ./website s3://cloudy-portfolio --delete
=======
    - uses: actions/checkout@master
    - uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'ap-southeast-1'
        SOURCE_DIR: 'website'
>>>>>>> 61cc8d863c3c753bdb22f832db289cae817190d8
